@keyframes whole {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateY(1rem);
	}
}
.home {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.h-container {
	padding: 2rem 10rem;
	/* animation: whole 1s linear; */
}
.netflix,
.inception {
	animation: netflix 1s linear;
}
@keyframes netflix {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-1rem);
	}
}
.title {
	margin-top: 80px;
}
.genres,
.lead {
	animation: genres 1s linear;
}
.genre {
	background-color: rgba(125, 130, 133, 0.6);
	border-radius: none;
	border-radius: 50px;
	color: white;
}
@keyframes genres {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1rem);
	}
}
.readmore {
	color: white;
}

.readmore:hover {
	color: white;
}

.footer {
	display: flex;
	align-items: flex-end;
}

.footer-img {
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 10px;
	width: 75px;
	height: 100px;
}

.release {
	display: flex;
	flex-direction: column;
	color: white;
}

.release-date {
	opacity: 0.6;
}
@media screen and (max-width: 740px) {
	.h-container {
		padding: 2rem 6rem;
	}
}

@media screen and (max-width: 530px) {
	.genres {
		display: none;
	}
	.searchbar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.netflix {
		margin-bottom: 20px;
	}
	.title {
		margin-top: 20px;
	}
	.h-container {
		padding: 1rem 3rem;
	}
}

@media screen and (max-width: 380px) {
	.genres {
		display: none;
	}
	.searchbar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.netflix {
		margin-bottom: 20px;
	}
	.title {
		margin-top: 20px;
	}
	.searchbox {
		display: flex;
		flex-direction: column;
	}
	.h-container {
		padding: 1rem 2rem;
	}
}
